header.py-3 {
    padding-top: 0 important!;
    padding-bottom: 0 important!;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar img {
    width: 100px;
    height: 50px;
}

.navbar {
    background-color: #9E83B8;
}

.btn { 
    background-color: #9E83B8;
}