header.py-3  {
    padding-top: 0rem important!;
    padding-bottom: 0rem important!;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar img {
    width: 100px;
    height: 50px;
}

.navbar {
    background-color: #9E83B8;
}

.btn { 
    background-color: #9E83B8;
}

#thehero {
width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/forest_greenery.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.the-inner {
    /* background-color: rgba(256,256,256,0.8); */
    width: 90vw;
    padding: 1rem;
}

.the-inner h1{
    color: #fff;
font-family: 'Libre Baskerville', serif;
font-style: italic;
font-weight: 400;
line-height: 1.4;
font-size: 2.1rem;

}

.the-inner p {
color: #606061;
text-align: left;
font-size: 1.1rem;  
}
